<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Individual Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/owl.carousel.css">
    <link rel="stylesheet" href="static/css/owl.theme.css">
    <link rel="stylesheet" href="static/css/owl.transitions.css">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/normalize.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- jvectormap CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/jvectormap/jquery-jvectormap-2.0.3.css">
    <!-- notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/notika-custom-icon.css">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/wave/waves.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/cssstyle.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="static/js/vendor/modernizr-2.8.3.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	

</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
                       <a href="/dashboard"><p style="color:white; font-size: 25px;">INNOSPACE</P></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav notika-top-nav">
							<li class="nav-item">
								<a href="#" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span class="glyphicon">&#xe081;</span></a>
                            </li>
							<li class="nav-item">
								<a href="/" role="button" ><span>Logout</span></a>
							</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
	<!-- End Header Top Area -->
	<!-- Form Element area Start-->
    <div class="form-element-area">
        <div class="container">
            <div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="form-element-list" style="width: 100%; height: 485px;">
                        <div class="basic-tb-hd">
                            <h2>Vehicles Details</h2>
                        </div>
                            <table id="data-table-basic" class="table table-striped">
                                    <tr>
                                        <th>Device ID</th>
										<td>65423415564585</td>
									</tr>
									<tr>
                                        <th>Vehicle Name</th>
										<td>Fortlift</td>
									</tr>
									<tr>
                                        <th>Manufracture</th>
										<td>Curtis</td>
									</tr>
									<tr>
                                        <th>Vehicle ID</th>
										<td>Fortlift123</td>
									</tr>
									<tr>
                                        <th>Device Model</th>
										<td>FMB125</td>
									</tr>
									<tr>
                                        <th>Hardware Version</th>
										<td>3.30.50</td>
                                    </tr>
									<tr>
                                        <th>Software Version</th>
										<td>0.01.20</td>
                                    </tr>
									<tr>
                                        <th>Driver</th>
										<td>Ramanathan</td>
                                    </tr>
                            </table>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="form-element-list">
                        <div class="basic-tb-hd">
                            <h2>GPS Speed</h2>
                        </div>
						<div class="gauge" style="width: 300px; --rotation:83deg; --color:#566573; --background:#e9ecef;">
							<div class="percentage"></div>
							<div class="mask"></div>
							<span class="value">8 Km/Hr</span>
						</div>
						<br>
						<br>
						<div class="basic-tb-hd">
                            <h2>EXT Speed</h2>
                        </div>
						<div class="gauge" style="width: 300px; --rotation:100deg; --color:#643873; --background:#e9ecef;">
							<div class="percentage"></div>
							<div class="mask"></div>
							<span class="value">10 Km/Hr</span>
						</div>
						<br>
                    </div>
                </div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="form-element-list" style="width: 100%; height: 485px;">
                        <div class="basic-tb-hd">
                            <h2>Live Status</h2>
                        </div>
                            <table id="data-table-basic" class="table table-striped">
                                    <tr>
                                        <th>Satellite Connected</th>
										<td>Satellite-11</td>
									</tr>
									<tr>
                                        <th>Status</th>
										<td id="live_state_widget">
											<div style="width: 100px;background-color:rgba(225, 99, 132, 0.8);text-align: center; padding-top: 3px; padding-bottom:3px; border-radius: 10px;">InActive</div>
										</td>
									</tr>
									<tr>
                                        <th>Speed</th>
										<td>8 Km/Hr</td>
									</tr>
									<tr>
                                        <th>Ignition State</th>
										<td>ON</td>
									</tr>
									<tr>
                                        <th>Movement State</th>
										<td>Moving</td>
									</tr>
									<tr>
                                        <th>Battery Capacity</th>
										<td id="live_cap_widget">
											<div class="battery-bar">
												<div class="battery-fill-1" style="width: 20%;"></div>
											</div>
										</td>
                                    </tr>
									<tr>
                                        <th>Battery Power</th>
										<td>740.4 W</td>
                                    </tr>
									<tr>
                                        <th>GSM Operator</th>
										<td>Ramanathan</td>
                                    </tr>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<br><br>
    <!-- Form Element area End-->
	<div class="form-element-area">
        <div class="container">
            <div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
					<div class="form-element-list">
                        <div class="basic-tb-hd">
                            <h2>Battery Capacity</h2>
                        </div>
						<div class="gauge" style="width: 300px; --rotation:163deg; --color:#76C9E2; --background:#e9ecef;">
							<div class="percentage"></div>
							<div class="mask"></div>
							<span class="value">100 Watts</span>
						</div><br><br>
						<table id="data-table-basic" class="table table-striped">
                            <tr>
                                <th>Device ID</th>
								<td>65423415564585</td>
							</tr>
							<tr>
                                <th>Battery Voltage</th>
								<td>12.34 V</td>
							</tr>
							<tr>
                                <th>Battery Amps</th>
								<td>60 Amps</td>
							</tr>
							<tr>
                                <th>Watt Hour</th>
								<td>30542.3</td>
							</tr>
                        </table>
                    </div>
				</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
					<div class="form-element-list">
                        <div class="basic-tb-hd">
                            <h2>GPS Distance</h2>
						</div>
						<div class="email-round-nock">
							<div class="circle">
								<div class="text" style= "color: white; font-size: 12px;">
									Current Speed: 15 Km/Hr
								</div>
							</div>
							<div class="circle" style= "color: white; font-size: 12px;">
								<div class="text">
									Top Speed: 30 Km/Hr
								</div>
							</div>
							<div class="circle" style= "color: white; font-size: 12px;">
								<div class="text">
									Duration: 01:56:23
								</div>
							</div>
						</div>
						<div class="rectangle">Optimal Signal</div>
						<br><br>
						<table id="data-table-basic" class="table table-striped">
                            <tr>
                                <th>LONGITUDE :</th>
								<td>77.7153816</td>
							</tr>
							<tr>
                                <th>LATITUDE :</th>
								<td>11.3463783</td>
							</tr>
							<tr>
                                <th>ASL :</th>
								<td>560.7 m</td>
							</tr>
                        </table>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="form-element-list">
                        <div class="basic-tb-hd">
                            <h2>Speed of Vehicles</h2>
                        </div>
						<canvas id="myChart" width="400" height="505"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<br><br>
	<!-- Google Map area End-->
    <div class="google-map-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px;">
                    <div class="google-map-single" style="height: 500px;">
						<h2>MAP</h2>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31840778.15188319!2d59.125561445491066!3d13.047524999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5265ea4f7d3361%3A0x6e61a70b6863d433!2sChennai%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1707734198509!5m2!1sen!2sin" width="1100" height="420" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<br>
	<br>
    <!-- Google Map area End-->
	<div class="form-element-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<div class="form-element-list">
                        <div class="basic-tb-hd">
                            <h2>Utilization Hour</h2>
							<p>The total Utilization Hour for a week</p>
						</div>
					<table class="graph">
						<thead>
							<tr>
								<th scope="col">Item</th>
								<th scope="col">Percent</th>
							</tr>
						</thead><tbody>
							<tr style="height:55%">
								<th scope="row">Day 1</th>
								<td><span>55%</span></td>
							</tr>
							<tr style="height:65%">
								<th scope="row">Day 2</th>
								<td><span>65%</span></td>
							</tr>
							<tr style="height:90%">
								<th scope="row">Day 3</th>
								<td><span>90%</span></td>
							</tr>
							<tr style="height:70%">
								<th scope="row">Day 4</th>
								<td><span>70%</span></td>
							</tr>
							<tr style="height:40%">
								<th scope="row">Day 5</th>
								<td><span>40%</span></td>
							</tr>
							<tr style="height:30%">
								<th scope="row">Day 6</th>
								<td><span>30%</span></td>
							</tr>
						</tbody>
					</table>
                    </div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="form-element-list">
                        <div class="basic-tb-hd">
                            <h2>State of Vehicles</h2>
                        </div>
						 <div style="width: 100%; height: 400px; padding-top: 20px;">
							<canvas id="myPieChart" width="320" style="display: block; box-sizing: border-box; height: 320px; width: 320px;"></canvas>
						</div>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<!-- Data Table area Start-->
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>GPS Table</h2>
                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
										<th>S/NO</th>
                                        <th>DATE</th>
                                        <th>TIME</th>
                                        <th>DISTANCE</th>
                                        <th>SPEED</th>
                                        <th>LATITUDE</th>
										<th>LONGITUDE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
										<td>1</td>
                                        <td>2024-01-19</td>
                                        <td>11:53:38</td>
                                        <td>0.00</td>
                                        <td>1.00</td>
                                        <td>11.3463783</td>
										<td>77.7153816</td>
                                    </tr>
                                    <tr>
										<td>2</td>
                                        <td>2024-01-19</td>
                                        <td>11:53:26</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>11.3463</td>
										<td>77.7153083</td>
                                    </tr>
                                    <tr>
										<td>3</td>
                                        <td>2024-01-19</td>
                                        <td>11:52:00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>11.3464583</td>
										<td>77.7154133</td>
                                    </tr>
                                    <tr>
										<td>4</td>
                                        <td>2024-01-19</td>
                                        <td>11:49:18</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>11.3464583</td>
										<td>77.7154133</td>
                                    </tr>
                                    <tr>
										<td>5</td>
                                        <td>2024-01-19</td>
                                        <td>11:47:48</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>11.3464583</td>
										<td>77.7154133</td>
                                    </tr>
                                    <tr>
										<td>6</td>
                                        <td>2024-01-19</td>
                                        <td>11:46:13</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>11.3464583</td>
										<td>77.7154133</td>
                                    </tr>
									<tr>
										<td>7</td>
                                        <td>2024-01-19</td>
                                        <td>10:57:24</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>11.3464583</td>
										<td>77.7154133</td>
                                    </tr>
                                    <tr>
										<td>8</td>
                                        <td>2024-01-19</td>
                                        <td>10:56:33</td>
                                        <td>0.00</td>
                                        <td>6.00</td>
                                        <td>11.3464866</td>
										<td>77.7154333</td>
                                    </tr>
									<tr>
										<td>9</td>
                                        <td>2024-01-19</td>
                                        <td>10:56:19</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>11.346475</td>
										<td>77.715425</td>
                                    </tr>
									<tr>
										<td>10</td>
                                        <td>2024-01-19</td>
                                        <td>10:56:18</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>11.346475</td>
										<td>77.715425</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
	<div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>External Table</h2>
                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
										<th>S/NO</th>
                                        <th>DATE</th>
                                        <th>TIME</th>
                                        <th>DISTANCE</th>
                                        <th>SPEED</th>
                                        <th>WATT HR</th>
										<th>BATT VOLTAGE</th>
										<th>BATT AMP</th>
										<th>BATT POWER</th>
										<th>BATT CHARGE</th>
                                    </tr>
                                </thead>
                                <tbody id="external_data_table">
									<tr>
										<td colspan="10">No Data </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Table area End-->
	<!-- Start Footer area-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2024 . All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->
    <!-- jquery
		============================================ -->
    <script src="static/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="static/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="static/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="static/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="static/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="static/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="static/js/counterup/jquery.counterup.min.js"></script>
    <script src="static/js/counterup/waypoints.min.js"></script>
    <script src="static/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="static/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- jvectormap JS
		============================================ -->
    <script src="static/js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="static/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="static/js/jvectormap/jvectormap-active.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="static/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="static/js/sparkline/sparkline-active.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="static/js/flot/jquery.flot.js"></script>
    <script src="static/js/flot/jquery.flot.resize.js"></script>
    <script src="static/js/flot/curvedLines.js"></script>
    <script src="static/js/flot/flot-active.js"></script>
    <!-- knob JS
		============================================ -->
    <script src="static/js/knob/jquery.knob.js"></script>
    <script src="static/js/knob/jquery.appear.js"></script>
    <script src="static/js/knob/knob-active.js"></script>
    <!--  wave JS
		============================================ -->
    <script src="static/js/wave/waves.min.js"></script>
    <script src="static/js/wave/wave-active.js"></script>
    <!--  todo JS
		============================================ -->
    <script src="static/js/todo/jquery.todo.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="static/js/plugins.js"></script>
	<!--  Chat JS
		============================================ -->
    <script src="static/js/chat/moment.min.js"></script>
    <script src="static/js/chat/jquery.chat.js"></script>
	
    <!-- main JS
		============================================ -->
    <script src="static/js/main.js"></script>
	<!-- tawk chat JS
		============================================ -->
	</style>
	 <script>
        var ctx = document.getElementById('myPieChart').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Active Vehicles', 'Inactive Vehicles', 'Idle Vehicles'],
                datasets: [{
                    label: 'Pie Chart',
                    data: [30, 30, 40],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.8)',
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 206, 86, 0.8)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true
            }
        });
  </script>
   <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6'],
                datasets: [{
                    label: 'Speed',
                    data: [10, 20, 14, 25, 30, 19],
                    borderColor: 'red',
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>